<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaunchModes"
        tools:targetApi="31">

        <activity
            android:name=".singleinstancepertask.ThirdActivitySingleInstancePerTask"
            android:exported="false" />

        <activity
            android:name=".singleinstancepertask.SecondActivitySingleInstancePerTask"
            android:exported="false"
            android:launchMode="singleInstancePerTask"/>

        <activity
            android:name=".singleinstancepertask.MainActivitySingleInstancePerTask"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".singleinstance.ThirdActivitySingleInstance"
            android:exported="false" />

        <activity
            android:name=".singleinstance.SecondActivitySingleInstance"
            android:exported="false"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".singleinstance.MainActivitySingleInstance"
            android:exported="true" >

        </activity>

        <activity
            android:name=".singletask.SecondActivitySingleTask"
            android:exported="false"
            android:taskAffinity=".singletask.MainActivitySingleTask"
            android:launchMode="singleTask"/>

        <activity
            android:name=".singletask.MainActivitySingleTask"
            android:exported="true" >

        </activity>

        <activity
            android:name=".singletop.SecondActivitySingleTop"
            android:exported="false"
            android:launchMode="singleTop"/>

        <activity
            android:name=".singletop.MainActivitySingleTop"
            android:exported="true" >

        </activity>

        <activity
            android:name=".standart.SecondActivity"
            android:exported="false"
            android:launchMode="standard" />

        <activity
            android:name=".standart.MainActivity"
            android:exported="true">

        </activity>

    </application>

</manifest>